
.grid-container {
    position: inherit;
    margin-top: 150px;
}

.card {
    margin-bottom: 1rem;
}

.list-view .row > [class*=col-] {
    max-width: 100%;
    flex: 0 0 100%;
}

.list-view .card {
    flex-direction: row;
}

@media (max-width: 575.98px) {
    .list-view .card {
        flex-direction: column;
    }
}

.list-view .card > .card-img-top {
    width: auto;
}

.list-view .card .card-body {
    display: inline-block;
}

.card-body {
    padding: 1%;
}
.timediv{
border:1px solid black !important;
}

.datediv{
    border-top:1px solid red !important;
}

.date-btn {
    border-radius: 22px;
    background-color: white;
    width: auto;
    border: 1px solid #E8E8E8;
}

.applybtn {
    border-color: #F88634;
    background-color: white;
    border-radius: 24px;
    margin-left: 37%;
    /* padding: 3%; */
    margin-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

.applytxt {
    color: #F88634;
    font-size: 17px;
}

.grid {
    background-color: #E8E8E8;
    border-radius: 15px;
    padding: 3%;
    border: none;
}

.list {
    border: none;
    background-color: white;
}

.sort {
    border: 1px solid grey;
    height: max-content;
}

.sortby {
    width: max-content;
}
.btn {
    --bs-btn-border-width: none;
}
.sort-btn {
    border: none !important :
}

.sortaerrow {
    margin-top: 10%;
}

.missionimg {
    position: relative !important;
}

.card {
    box-shadow: 6px 6px 10px lightgrey;
}
.card-list{
    display:flex;
    flex-direction:row;
    width:100%;
    margin-top:1%;
}

.img-event {
    position: relative;
    text-align: center;
    color: black;
}

.landing-page-top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    padding: 5px 10px;
    border-radius: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}
.appliedbtn {
    position: absolute;
    top: 8px;
    left: 0px;
    padding: 5px 10px;
    /*border-radius: 30px;*/ 
    color: white;
    background-color: rgba(58, 202, 43, 0.8);
    font-size: 14px
}
.closedbtn {
    position: absolute;
    bottom: 12px;
    left: 0px;
    padding: 5px 10px;
    /*border-radius: 30px;*/
    color: white;
    background-color: rgba(233, 6, 4, 0.8);
    font-size: 14px
}
.landing-page-bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.list-group-image {
    max-width: 100%;
    max-height: 100%;
}

.landing-page-btn-img {
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
     padding:  6px;
}

.theme-btn {
    border-radius: 22px;
    background-color: white;
    border: white;
    z-index: 1;
    top: 95%;
    left: 35%;
    position: absolute !important;
}

.pagination {
    justify-content: center !important;
    display: flex !important;
}

/*.active > .page-link, .page-link.active {
    background-color: #F88634;
    border-color: #F88634;
}
*/

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #F88634;
    border-color: #F88634;
}

.page-link {
    color: #757575;
}

.progress {
    width: 6rem;
}
.rule {
    display: flex;
    / flex-direction: row;
    / / flex-wrap: nowrap;
    /
}

hr {
    flex: 1;
    border: none;
    height: 2px;
    background: black;
}

.date-btn {
    border-radius: 22px;
    background-color: white;
}
/*.wrapper {
    padding: 20px;*/
   /* background: #eaeaea;*/
  /*  max-width: 400px;*/
    /*margin: 50px auto;*/
/*}*/

.demo-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical;
}
.demo-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.aviluser {
    border-radius: 50px;
    width: 52px;
    height: 52px;
    border: 4px solid #F88634;
}

.userlistdiv {
    background-color: lightgray;
}
.custom-tooltip {
    --bs-tooltip-bg: var(--bs-primary);
}
#cardBanner {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 100% 50%;
       opacity:  1;
}