<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/nomission.css"  asp-append-version="true"/>
</head>
<body>

    <div class=" container text-center no-mission  ">
        <h1> No Mission found</h1>
        <a type="button" class="btn submitnew  mt-2 mb-2" aspi-area="" asp-controller="Home" asp-action="landingpage">
            Submit New Mission
            <img src="~/images/right-arrow.png" />
        </a>

    </div>

</body>
</html>
