@model CI.Models.ResetpassModel
@*@model CI.Models.FogetModel*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<link rel="stylesheet" href="/css/newpassword.css">
<!-- <script src="/bootstrap-4.0.0-dist[1]/js/bootstrap.bundle.min.js"></script> -->
</head>
<body>
    <div class="container-fluid maindiv p-0">
        <div class="row ">
          <div class="col col-lg-7 col-md-12 col-sm-12 col-xs-12    " >
            <div id="carouselExampleCaptions" class="carousel slide me-0"  data-bs-ride="carousel" data-bs-interval="1000" >
                 <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div> 
                    <div class="carousel-inner  ">
             
                        @foreach (var banner in ViewBag.firstBanner)
                        {
                            <div class="carousel-item   active" data-bs-interval="5000">
                                <img src="@banner.Image" class="d-block w-100 carousel-img object-fit-none border rounded"  alt="...">
                                <div class="carousel-caption d-none d-md-block ">
                                    <h2>Sed ut perspiciatis unde omnis iste natus voluptatem.</h2>
                                    <p>
                                        @banner.Text
                                    </p>
                                </div>
                            </div>
                        }
                        @foreach (var banner in ViewBag.Banners)
                        {
                            <div class="carousel-item " data-bs-interval="5000">
                                <img src="@banner.Image" class="d-block w-100 carousel-img object-fit-none border rounded "  alt="...">
                                <div class="carousel-caption d-none d-md-block ">
                                    <h2>Sed ut perspiciatis unde omnis iste natus voluptatem.</h2>
                                    <p>
                                        @banner.Text
                                    </p>
                                </div>
                            </div>
                        }
                  </div>
              
        </div>

    </div>
               

            <div class=" sidediv col-lg-4 col-md-12 col-sm-12 col-xs-11  align-self-center">
            <div class="row justify-content-center ">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <form  method="post" asp-controller="Forget" asp-action="ResetPassword" >
                        <p class="fs-5 text-center new">New Password</p>
                        <div class="text-center">
                            <p class=" para">Please enter a new password in the fields below.</p>
                            
                        </div>
                        <input type="email" asp-for="Email" hidden/>      
                        <input type="text" asp-for="Token" hidden/>

                        <div class="mb-3 mt-3 ">
                            <label for="exampleInputPassword1" class="form-label ">New Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password" asp-for="Password" onkeyup="errorfunction()">
                                <span class="text-danger" asp-validation-for="Password"></span>

                            </div>

                        <div class="mb-3 mt-2">
                            <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword2" asp-for="ConfirmPassword" placeholder="Enter Password" onkeyup="errorfunction()" >
                                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                        </div>
                         @*   <span class="text-danger" style="display:none;" id="passconferr">Password and Confirm Password must be same </span>*@


                            
                            <button type="submit" class="btn mt-3" id="chng-pass-btn">Change Password</button>

                            <div class="login text-center text-dark mt-2  ">
                            <a  asp-area="" asp-asp-controller="Home" asp-action="login">login</a>
                        </div>
                        
                       
                        

                        <div class="mb-3  text-center policy ">
                                <a class="nav-link " href="/Employee/Home/Privacypolicy/"> Privacy Policy</a>
                        </div>
                       
                      </form>
                </div>
            </div>

               
            </div>
        </div>

    </div>
@*    <script>
        function passwordvalidate() {
            var a = document.getElementById("exampleInputPassword1").value;
            var b = document.getElementById("exampleInputPassword2").value;
            var c = document.getElementById("passconferr");
            if (a != b) {
                var submitButton = document.getElementById("chng-pass-btn");
                submitButton.disabled = true;
                c.style.display = "block";
            }
            else {
                var submitButton = document.getElementById("chng-pass-btn");
                submitButton.disabled = false;
            }
           
        }
        function emptyemaill() {
            document.getElementById("passconferr").style.display = "none";
        }
    </script>*@
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


</body>
</html>