
@{
    Layout = "_AdminSidebar";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CI_Platform</title>
  @*  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
 <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet" />

</head>
<body>


    <div class="container-fluid mt-3">

        <div class="borderbottom"><h3 class="borderbotm mb-0 " style="width:max-content">Story</h3></div>
     

        <table id="example" class="table" style="width:100%;border: 1px solid #e9ecef;">
            <thead class="thead-light" style="background-color:#F8F9FC;">
                <tr>
                    <th scope="col">Story Title</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Mission Title</th>
                    <th scope="col" class="d-flex justify-content-center">Action</th>
                </tr>
            </thead>
            <tbody>

       
                                    <tr>
                                        <th scope="row">Title</th>
                                        <td>FirstName LastName</td>
                                        <td>Title</td>
                    <td class="d-flex justify-content-center align-items-center "> <a class="Viewbtn rounded-5  text-decoration-none px-2 " href="">View</a> <i class="fa-regular fa-circle-check ms-1" style="color:green;"></i>  <i class="fa-sharp fa-regular fa-circle-xmark ms-1" style="color:red;"></i>  <i class="fa fa-trash ms-1" style="color:black"></i></td>
                                    </tr>

                                



            </tbody>
        </table>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>


    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/js/Admin.js" asp-append-version="true"></script>
    <link href="~/css/Adminindex.css" rel="stylesheet" asp-append-version="true" />

</body>
</html>

