
@{
    Layout = "_AdminSidebar";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CI_Platform</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet" />

    <style>


    </style>
</head>
<body>


    <div class="container-fluid mt-3">

        <div class="d-flex justify-content-between borderbottom ">
            <h3 class="borderbotm mb-0 ">User</h3>
            <button class="btn  mb-2 landing-page-apply-mission-btn" data-bs-toggle="modal" data-bs-target="#exampleModal1 ">
                <i class="fa-regular fa-plus" style="color: #F88735"></i>
                Add
            </button>
        </div>



        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="d-flex flex-column align-items-center justify-content-center imdupperdiv py-1">
                                    <div class="user-profile-div " id="imgdiv">
                                        <input type="file" @* asp-for="files"*@ style="display:none" id="imginput" />
                                        @*                                        @if (@Model.avatar != "")
                                        {
                                        <img src="@Model.avatar" alt=""
                                        class="rounded-circle user-profile-img " id="user-profile-img">
                                        }
                                        else
                                        {*@
                                        <img src="~/images/Abhi2.jpg"
                                             class="rounded-circle user-profile-img" id="user-profile-img">
                                        @* }*@

                                        <i class="bi bi-plus-circle-fill addimgplus" height="25px" width="25px"></i>

                                    </div>
                                    <div class="user-username">@*@Model.firstname.ToUpperInvariant() @Model.lastname.ToUpperInvariant()*@ Abhi Undhad</div>

                                </div>
                            </div>
                            <div class="row mt-2 imdupperdiv py-2">
                                <div class="col-12 col-lg-4 col-md-6 mb-3">
                                    <input type="text" id="FirstName" class="form-control" placeholder="First name">
                                </div>
                                <div class="col-12 col-lg-4 col-md-6 mb-3">
                                    <input type="text" id="LastName" class="form-control" placeholder="Last name">
                                </div>
                                <div class="col-12 col-lg-4 col-md-6 mb-3">
                                    <input type="email" id="Email" class="form-control" placeholder="Enter Email">
                                </div>
                                <div class="col-12 col-lg-4 col-md-6 mb-3">
                                    <input type="password" id="Password" class="form-control" placeholder="Enter Password">
                                </div>
                                <div class="col-12 col-lg-4 col-md-6 mb-3">
                                    <input type="text" id="Department" class="form-control" placeholder="Department">
                                </div>
                                <div class="col-12 col-lg-4 col-md-6 mb-3">
                                    <select class="form-select" placeholder="City">

                                        <option value="Gondal"> Gondal</option>
                                        <option value="Surat"> Surat</option>
                                        <option value="Rajkot"> Rajkot</option>
                                        <option value="Ahmedabad"> Ahmedabad</option>
                                    </select>
                                </div>
                                <div class="col-12 col-lg-4 col-md-6 mb-3">
                                    <select class="form-select" list="country" name="country" id="country" placeholder="Country">

                                        <option value="India"> India</option>
                                        <option value="USA"> USA</option>
                                        <option value="UK"> UK</option>
                                        <option value="France"> France</option>
                                    </select>
                                </div>
                                <div class="col-12 col-lg-4 col-md-6 mb-3">
                                    <select class="form-select " placeholder="Status">

                                        <option value="Active "> Active</option>
                                        <option value="In-Active"> In-Active</option>

                                    </select>
                                </div>
                                <div class=" col-12 mb-3">
                                    <textarea class="form-control" placeholder="Profile_Txt..."></textarea>

                                </div>


                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" data-bs-dismiss="modal" class="btn closebtn">Close</button>
                        <button type="submit" data-bs-dismiss="modal" class="btn savebtn" onclick="saveAdminUser()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>



       

        <table id="example" class="table" style="width:100%;border: 1px solid #e9ecef;">
            <thead class="thead-light" style="background-color:#F8F9FC;">
                <tr>
                    <th scope="col">FirstName</th>
                    <th scope="col">LastName</th>
                    <th scope="col">Email</th>
                    <th scope="col">Employee Id</th>
                    <th scope="col">Department</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>

             @*   @foreach (var fn in Model.Users)
                {
                  *@  <tr>
                        <th scope="row">FirstName</th>
                        <td>LastName</td>
                        <td>Email</td>
                        <td>EmployeeId</td>
                        <td>Department</td>
                        <td>Status</td>
                        <td><i class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#exampleModal1" onclick="editAdminUser()"></i> | <i class="fa fa-trash" style="color:red"></i></td>
                    </tr>
                <tr>
                    <th scope="row">FirstName</th>
                    <td>LastName</td>
                    <td>Email</td>
                    <td>EmployeeId</td>
                    <td>Department</td>
                    <td>Status</td>
                    <td><i class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#exampleModal1" onclick="editAdminUser()"></i> | <i class="fa fa-trash" style="color:red"></i></td>
                </tr>
                 <tr>
                        <th scope="row">FirstName</th>
                        <td>LastName</td>
                        <td>Email</td>
                        <td>EmployeeId</td>
                        <td>Department</td>
                        <td>Status</td>
                        <td><i class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#exampleModal1" onclick="editAdminUser()"></i> | <i class="fa fa-trash" style="color:red"></i></td>
                    </tr>
                     <tr>
                        <th scope="row">FirstName</th>
                        <td>LastName</td>
                        <td>Email</td>
                        <td>EmployeeId</td>
                        <td>Department</td>
                        <td>Status</td>
                        <td><i class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#exampleModal1" onclick="editAdminUser()"></i> | <i class="fa fa-trash" style="color:red"></i></td>
                    </tr>
                     <tr>
                        <th scope="row">FirstName</th>
                        <td>LastName</td>
                        <td>Email</td>
                        <td>EmployeeId</td>
                        <td>Department</td>
                        <td>Status</td>
                        <td><i class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#exampleModal1" onclick="editAdminUser()"></i> | <i class="fa fa-trash" style="color:red"></i></td>
                    </tr>
                     <tr>
                        <th scope="row">FirstName</th>
                        <td>LastName</td>
                        <td>Email</td>
                        <td>EmployeeId</td>
                        <td>Department</td>
                        <td>Status</td>
                        <td><i class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#exampleModal1" onclick="editAdminUser()"></i> | <i class="fa fa-trash" style="color:red"></i></td>
                    </tr>
                     <tr>
                        <th scope="row">FirstName</th>
                        <td>LastName</td>
                        <td>Email</td>
                        <td>EmployeeId</td>
                        <td>Department</td>
                        <td>Status</td>
                        <td><i class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#exampleModal1" onclick="editAdminUser()"></i> | <i class="fa fa-trash" style="color:red"></i></td>
                    </tr>
                     <tr>
                        <th scope="row">FirstName</th>
                        <td>LastName</td>
                        <td>Email</td>
                        <td>EmployeeId</td>
                        <td>Department</td>
                        <td>Status</td>
                        <td><i class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#exampleModal1" onclick="editAdminUser()"></i> | <i class="fa fa-trash" style="color:red"></i></td>
                    </tr>
                     <tr>
                        <th scope="row">FirstName</th>
                        <td>LastName</td>
                        <td>Email</td>
                        <td>EmployeeId</td>
                        <td>Department</td>
                        <td>Status</td>
                        <td><i class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#exampleModal1" onclick="editAdminUser()"></i> | <i class="fa fa-trash" style="color:red"></i></td>
                    </tr>
                     <tr>
                        <th scope="row">FirstName</th>
                        <td>LastName</td>
                        <td>Email</td>
                        <td>EmployeeId</td>
                        <td>Department</td>
                        <td>Status</td>
                        <td><i class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#exampleModal1" onclick="editAdminUser()"></i> | <i class="fa fa-trash" style="color:red"></i></td>
                    </tr>
                     <tr>
                        <th scope="row">FirstName</th>
                        <td>LastName</td>
                        <td>Email</td>
                        <td>EmployeeId</td>
                        <td>Department</td>
                        <td>Status</td>
                        <td><i class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#exampleModal1" onclick="editAdminUser()"></i> | <i class="fa fa-trash" style="color:red"></i></td>
                    </tr>
                     <tr>
                        <th scope="row">FirstName</th>
                        <td>LastName</td>
                        <td>Email</td>
                        <td>EmployeeId</td>
                        <td>Department</td>
                        <td>Status</td>
                        <td><i class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#exampleModal1" onclick="editAdminUser()"></i> | <i class="fa fa-trash" style="color:red"></i></td>
                    </tr>
                     <tr>
                        <th scope="row">FirstName</th>
                        <td>LastName</td>
                        <td>Email</td>
                        <td>EmployeeId</td>
                        <td>Department</td>
                        <td>Status</td>
                        <td><i class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#exampleModal1" onclick="editAdminUser()"></i> | <i class="fa fa-trash" style="color:red"></i></td>
                    </tr>
                     <tr>
                        <th scope="row">FirstName</th>
                        <td>LastName</td>
                        <td>Email</td>
                        <td>EmployeeId</td>
                        <td>Department</td>
                        <td>Status</td>
                        <td><i class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#exampleModal1" onclick="editAdminUser()"></i> | <i class="fa fa-trash" style="color:red"></i></td>
                    </tr>

              @*  }*@




            </tbody>
        </table>
    </div>


    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>


    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/js/Admin.js" asp-append-version="true"></script>
    <link href="~/css/Adminindex.css" rel="stylesheet" asp-append-version="true" />

</body>
</html>


