@{
    Layout = "_navbar2";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/Privacypolicy.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid privacycontainer">
        <div class="row">
            <div class="col-12">
                <lable class="fs-1 ms-2">
                    Privacy and Cookies Policy
                </lable>
            </div>

            <div class="row mt-3">
                <div class="col-12 col-md-3  policysidebar">
                    <nav id="navbar-example3 " class="h-100 flex-column align-items-stretch   mt-3 mb-3" >


                        <nav class="nav nav-pills flex-column">

                            @{
                                int a = 1;
                            }
                            @foreach (var item in ViewBag.Policy)
                            {
                                @if (a == 1)
                                {
                                    <a class="nav-link active" href="#item-@a">@item.Title</a>
                                    a++;
                                }
                                else
                                {

                                    <a class="nav-link" href="#item-@a">@item.Title</a>
                                    a++;
                                }
                            }
           


                        </nav>
                    </nav>
                </div>

                <div class="col-12 col-md-9 mt-4 mt-md-0 ">
                    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2 overflow-y-auto" style="height:600px;" tabindex="0">



                        @{
                            int i = 1;
                        }
                        @foreach (var item in ViewBag.Desc)
                        {
                            <div id="item-@i">
                                @Html.Raw(item)
                            </div>
                            i++;
                        }





            


                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
  
        //var story = document.getElementById('story');
        //var policy = document.getElementById('policy');
        //story.style.display="none";
        //policy.style.display="none";
      
        document.querySelectorAll('#nav-tab>[data-bs-toggle="tab"]').forEach(el => {
            el.addEventListener('shown.bs.tab', () => {
                const target = el.getAttribute('data-bs-target')
                const scrollElem = document.querySelector(`${target} [data-bs-spy="scroll"]`)
                bootstrap.ScrollSpy.getOrCreateInstance(scrollElem).refresh()
            })
        })
    </script>
</body>
</html>