@{
    Layout = "_navbar2";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/Privacypolicy.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid privacycontainer">
        <div class="row">
            <div class="col-12">
                <lable class="fs-1 ms-2">
                    Privacy and Cookies Policy
                </lable>
            </div>

            <div class="row mt-3">
                <div class="col-12 col-md-3  policysidebar">
                    <nav id="navbar-example3 " class="h-100 flex-column align-items-stretch   mt-3 mb-3" >
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link " href="#item-1">Introduction   preferences?</a>

                            <a class="nav-link" href="#item-2">How does use cookies? </a>
                            <a class="nav-link " href="#item-3">How to manage your cookie preferences? </a>


                        </nav>
                    </nav>
                </div>

                <div class="col-12 col-md-9 mt-4 mt-md-0 ">
                    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2 overflow-y-auto" style="height:600px;" tabindex="0">
                        <div id="item-1">
                            <h4>Introduction</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>

                        <div id="item-2">
                            <h4 class="mt-2">How does use cookies?</h4>
                            <p class="mb-4">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                            </p>
                            <lable class="mt-4 fs-6 fw-bold">
                                Why Optimy Uses These Technologies?
                            </lable>
                            <br />
                            <span class="mt-2"> We use these technologies for a number of purposes, such as:</span>
                            <ul class="mt-4">
                                <li class="mt-1">
                                    But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain.
                                </li>
                                <li class="mt-1">
                                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.
                                </li>
                                <li class="mt-1">
                                    On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain.
                                </li>
                                <li class="mt-1">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                </li>
                                
                            </ul>

                        </div>
                        <div id="item-3">
                            <h4>How to manage your cookie preferences?</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <p class="mt-2">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
                            </p>
                            <lable class="fs- fw-bold">
                                Subtitle goes here
                            </lable>
                            <ol class="mt-2 mb-4">
                                <li>
                                    But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain.
                                    <ol>
                                        <li>
                                            On the other hand, we denounce with righteous indignation and dislike men who are so beguiled.
                                        </li>
                                        <li>
                                            On the other hand, we denounce with righteous indignation and dislike men who are so beguiled.
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.
                                </li>
                                <li>
                                    On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized
                                </li>
                                <li>
                                    But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain.
                                </li>
                                <li>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                </li>
                            </ol>
                            <h1> The first level heading - H1 </h1>
                            <h2>The second level heading - H2 </h2>
                            <h3>The third level heading - H3</h3>
                            <h4> The forth level heading - H4</h4>
                            <h5>
                                The fifth level heading - H5
                            </h5>
                            <h6>
                                The sixth level heading - H6
                            </h6>
                            <p class="mt-5 mb-3">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>

                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
        document.querySelectorAll('#nav-tab>[data-bs-toggle="tab"]').forEach(el => {
            el.addEventListener('shown.bs.tab', () => {
                const target = el.getAttribute('data-bs-target')
                const scrollElem = document.querySelector(`${target} [data-bs-spy="scroll"]`)
                bootstrap.ScrollSpy.getOrCreateInstance(scrollElem).refresh()
            })
        })
    </script>
</body>
</html>